* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 960px;
    padding: 10px 60px;
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.20);
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-back {
    width: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 0px;
}

.project-img {
    height: 100px;
    width: 100%;
}